<div class="main-wrap">
  <div class="shadow-wrap">
    <div class="row" style="margin: 0">
      <div class="col-12 sm-6 col-md-3 outer-wrap-for-count">
        <div class="inner-wrap-for-count">
          <p class="count-text">
            10 +
          </p>
          <p class="count-tittle">
            Satisfied Clients
          </p>
          <div class="bottom-border-wrap"></div>
        </div>
      </div>
      <div class="col-12 sm-6 col-md-3 outer-wrap-for-count">
        <div class="inner-wrap-for-count">
          <p class="count-text">
            12 +
          </p>
          <p class="count-tittle">
            Completed Solutions
          </p>
          <div class="bottom-border-wrap"></div>
        </div>
      </div>
      <div class="col-12 sm-6 col-md-3 outer-wrap-for-count">
        <div class="inner-wrap-for-count">
          <p class="count-text">
            3 +
          </p>
          <p class="count-tittle">
            Products
          </p>
          <div class="bottom-border-wrap"></div>
        </div>
      </div>
      <div class="col-12 sm-6 col-md-3 outer-wrap-for-count">
        <div class="inner-wrap-for-count">
          <p class="count-text">
            10 +
          </p>
          <p class="count-tittle">
            Developers
          </p>
          <div class="bottom-border-wrap"></div>
        </div>
      </div>
    </div>
  </div>
</div>
