<div class="main-wrap">
  <div class="inner-wrap">
    <div class="row" style="margin: 0">
      <div class="col-12 col-md-8 left-set">
        <p class="text-set1">
          PROVIDING AN UNMATCHED LEVEL OF QUALITY AND SERVICES
        </p>
        <p class="text-set2">
          The right development decides your next billion dollar earnings
        </p>
      </div>
      <div class="col-12 col-md-4 right-set">
        <span class="button-wrap" (click)="loadPortfolioPage()">
          LEARN MORE
        </span>
      </div>
    </div>
  </div>
</div>
