<div class="main-wrap">
  <div class="inner-wrap">

    <p class="top-contact-number"><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;(+94) 70 2121 909</p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <p class="top-address"><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp; No:19/1 Gunarathana Road Panadura</p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="top-social">
      <div class="social-wrap" (click)="navigateToSocial('https://www.facebook.com/seekers.cloud.52')">
        <span><i class="fab fa-facebook-f"></i></span>
      </div>
      <div class="social-wrap" (click)="navigateToSocial('https://twitter.com/seekers_cloud')">
        <span><i class="fab fa-twitter"></i></span>
      </div>
      <div class="social-wrap" (click)="navigateToSocial('https://www.linkedin.com/in/seekers-cloud-7b3266188/')">
        <span><i class="fab fa-linkedin-in"></i></span>
      </div>
      <div class="social-wrap" (click)="navigateToSocial('https://www.youtube.com/channel/UC7Hw7Chl39pbYXONpil6rJA')">
        <span><i class="fab fa-youtube"></i></span>
      </div>
    </div>
  </div>
</div>
<app-top-nav-bar></app-top-nav-bar>

