<div class="main-wrap">
  <div class="row" style="margin: 0;">
    <div class="col-12 col-md-6 left-side">
      <div class="video-wrap">

        <div class="wrap-for-video-control" (click)="playVideo()" *ngIf="!playState">
          <i class="fas fa-play" *ngIf="!playState"></i>
        </div>
        <div id="pause-wrap" class="wrap-for-video-control" (click)="playVideo()" *ngIf="playState">
          <i class="fas fa-pause" *ngIf="playState"></i>
        </div>

        <video id="video-tag" src="assets/videos/contact-us-video.mp4"></video>
      </div>
    </div>
    <div class="col-12 col-md-6 right-side">
      <app-make-inquiries></app-make-inquiries>
    </div>
  </div>
</div>
