<div class="main-wrap-for-nav">
  <ul class="list-of-nav-bar">
    <li routerLink="/home" routerLinkActive="active-Item">
      <a>HOME</a>
    </li>
    <li routerLink="/service" routerLinkActive="active-Item">
      <a>SERVICES</a>
    </li>
    <li routerLink="/product" routerLinkActive="active-Item">
      <a>PRODUCTS</a>
    </li>
    <li routerLink="/solution" routerLinkActive="active-Item">
      <a>SOLUTIONS</a>
    </li>
    <li routerLink="/news" routerLinkActive="active-Item">
      <a>NEWS</a>
    </li>
    <li routerLink="/careers" routerLinkActive="active-Item">
      <a>CAREERS</a>
    </li>
    <li routerLink="/about" routerLinkActive="active-Item">
      <a>ABOUT</a>
    </li>
    <li routerLink="/contact" routerLinkActive="active-Item">
      <a>CONTACT</a>
    </li>
  </ul>
</div>
